.App {
    display: flex;
    justify-content: center;
    padding-block-start: 2.5rem;
}

.App .container {
    /* max-width: 700px; */
    margin-inline: 1rem;
    padding-block-end: 5rem;
}


@media (min-width: 740px) {
    .App .container {
        margin-inline: 0;
        max-width: 700px;
    }
}

.App * {
    transition: .1s;
}